button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #243036;
  color: #FCA311;
  border: solid 1px #FCA311;
  font-size: 20px;
  box-shadow: 0 0 10px #243036;
  transition: 0.2s ease;
}

* {
  margin: 0;
  box-sizing: border-box;
  transition: 0.3 s ease-in-out;
}

h1 {
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 90px;
  color: #FCA311;
  text-shadow: 0 0 40px rgba(22, 26, 24, 0.4666666667);
}

h2 {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  color: #FCA311;
}

header {
  background-color: gray;
  height: 200px;
}
header .pesoobjetivo {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress {
  height: 15px;
  border-radius: 5px;
  border: solid 1px black;
  width: 70%;
  background-color: white;
  inset: 0;
  margin: auto;
}
.progress .progress-bar {
  background-color: aquamarine;
  height: 100%;
  width: 50%;
  border-radius: 5px;
}

main {
  background-color: gray;
  height: auto;
  margin: 50px;
  inset: 0;
}
main .calorias {
  padding: 20px 0;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .calorias div {
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  text-align: center;
  line-height: 200px;
}
main .macros {
  padding-top: 20px;
  width: 80%;
  height: 80px;
  margin: auto;
  inset: 0;
  display: flex;
  justify-content: space-around;
}

.diary {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  height: auto;
  width: 100%;
  background-color: gray;
}
.diary .food-card {
  background-color: rgb(216, 215, 215);
  height: 300px;
  width: 45%;
  border: solid 2px;
  border-radius: 20px;
  border-color: black;
  text-align: center;
  padding: 20px;
}

#water-section {
  margin: 50px 0;
  padding: 50px;
  width: 100%;
  height: auto;
  background-color: gray;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
#water-section h2,
#water-section h3 {
  width: 100%;
  margin-bottom: 20px;
}
#water-section div {
  margin-top: 30px;
  height: 300px;
  background-color: beige;
  border: solid 2px;
  border-color: black;
}
#water-section #water {
  width: 80%;
}
#water-section #option-water {
  width: 20%;
}

footer {
  height: 80px;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
footer a {
  display: block;
  border: solid 1px black;
  width: 25%;
  text-decoration: none;
  text-align: center;
  line-height: 80px;
}

#page0 {
  background-image: linear-gradient(to right top, #141f1b, #30424a, #194757, #20634f, #354f52);
}
#page0 body {
  background: #1a1e23;
  margin: 0;
  overflow: hidden;
}
#page0 .bubbles {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#page0 .bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;
}
#page0 .bubble::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(183, 94%, 76%, 0.3);
  border-radius: inherit;
  animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
}
#page0 .bubble:nth-child(0) {
  --bubble-left-offset: 71vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(1) {
  --bubble-left-offset: 64vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(2) {
  --bubble-left-offset: 90vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(3) {
  --bubble-left-offset: 36vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(4) {
  --bubble-left-offset: 43vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(5) {
  --bubble-left-offset: 64vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(6) {
  --bubble-left-offset: 58vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(7) {
  --bubble-left-offset: 53vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(8) {
  --bubble-left-offset: 88vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(9) {
  --bubble-left-offset: 64vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(10) {
  --bubble-left-offset: 93vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(11) {
  --bubble-left-offset: 97vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(12) {
  --bubble-left-offset: 76vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(13) {
  --bubble-left-offset: 87vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(14) {
  --bubble-left-offset: 100vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(15) {
  --bubble-left-offset: 74vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(16) {
  --bubble-left-offset: 88vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(17) {
  --bubble-left-offset: 50vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(18) {
  --bubble-left-offset: 66vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(19) {
  --bubble-left-offset: 92vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(20) {
  --bubble-left-offset: 31vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(21) {
  --bubble-left-offset: 57vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(22) {
  --bubble-left-offset: 31vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(23) {
  --bubble-left-offset: 45vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(24) {
  --bubble-left-offset: 29vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(25) {
  --bubble-left-offset: 30vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(26) {
  --bubble-left-offset: 65vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(27) {
  --bubble-left-offset: 1vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(28) {
  --bubble-left-offset: 27vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(29) {
  --bubble-left-offset: 91vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(30) {
  --bubble-left-offset: 9vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(31) {
  --bubble-left-offset: 97vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(32) {
  --bubble-left-offset: 51vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(33) {
  --bubble-left-offset: 41vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(34) {
  --bubble-left-offset: 60vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(35) {
  --bubble-left-offset: 54vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(36) {
  --bubble-left-offset: 47vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(37) {
  --bubble-left-offset: 82vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(38) {
  --bubble-left-offset: 69vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(39) {
  --bubble-left-offset: 58vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(40) {
  --bubble-left-offset: 31vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(41) {
  --bubble-left-offset: 28vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(42) {
  --bubble-left-offset: 82vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(43) {
  --bubble-left-offset: 53vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(44) {
  --bubble-left-offset: 2vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(45) {
  --bubble-left-offset: 62vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(46) {
  --bubble-left-offset: 52vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(47) {
  --bubble-left-offset: 47vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
#page0 .bubble:nth-child(48) {
  --bubble-left-offset: 57vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(49) {
  --bubble-left-offset: 91vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}
#page0 .bubble:nth-child(50) {
  --bubble-left-offset: 65vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-left-to-right;
}
@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}
@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
#page0 #principal {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#page0 .demo-svg-path {
  stroke: #FCA311;
  stroke-dasharray: 1000;
  stroke-dashoffset: 10;
  animation: dash 10s linear alternate infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#page0 p {
  text-align: center;
  margin: 40px 0;
  font-size: 20px;
  color: #E5E5E5;
}
#page0 section {
  width: 80%;
  height: 300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
#page0 section button {
  height: 60px;
  width: 150px;
  border-radius: 10px;
  background-color: #243036;
  color: #FCA311;
  border: solid 1px #FCA311;
  font-size: 20px;
  box-shadow: 0 0 10px #243036;
  transition: 0.2s ease;
}
#page0 section button:hover {
  scale: 0.9;
}
#page0 #ingresar-seccion {
  width: 100vw;
  height: 100vh;
  padding: 100px;
}
#page0 #ingresar-seccion #formulario {
  height: 350px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  box-shadow: 0 0 35px rgba(39, 44, 44, 0.5411764706);
}
#page0 #ingresar-seccion #formulario form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#page0 #ingresar-seccion #formulario label {
  text-align: center;
  width: 60%;
  margin-bottom: 10px;
  font-size: 25px;
  color: #d9dbdb;
}
#page0 #ingresar-seccion #formulario input {
  width: 60%;
  height: 40px;
  border: 1px solid #30424a;
  box-shadow: 0 0 10px #243036;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 10px;
}
#page0 #ingresar-seccion #registrarse {
  height: auto;
}
#page0 #ingresar-seccion #registrarse a {
  display: block;
  width: 80%;
  height: 40px;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  color: #d9dbdb;
  text-decoration: none;
}

#page1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #243036;
}
#page1 .input-section {
  margin-top: 10px;
  padding: 50px;
  width: 80%;
  height: auto;
  border: solid 2px #698588;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
#page1 .input-section label {
  color: #d9dbdb;
  font-size: 30px;
  text-shadow: 0 2px 1px #243036;
}
#page1 .input-section input,
#page1 .input-section select {
  width: 70%;
  height: 50px;
  border-color: #FCA311;
  border-radius: 10px;
  padding: 15px;
  background-color: #d9dbdb;
  font-size: 16px;
  color: #698588;
}
#page1 .input-section input option,
#page1 .input-section select option {
  border-radius: 20px;
  font-size: 16px;
}
#page1 .input-section::placeholder {
  color: #243036;
  font-size: 18px;
}

#arrow-section {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#arrow-section button {
  margin: 20px 0;
  width: 20%;
  font-size: 50px;
  border-radius: 10px;
  background-color: #243036;
  box-shadow: 0 0 5px #4a868d;
  border: 2px solid #FCA311;
  color: #FCA311;
}
#arrow-section button h4 {
  display: none;
}
#arrow-section button:hover h4 {
  display: block;
  font-size: 30px;
}
#arrow-section button:hover i {
  display: none;
}

#validar {
  height: 40px;
  font-size: 20px;
  width: 200px;
  border-radius: 5px;
  background-color: #698588;
  color: #243036;
  border: 0.5px solid #FCA311;
  box-shadow: 0 5px 5px rgba(252, 162, 17, 0.2);
  transition: 0.2s ease-in-out;
}
#validar:hover {
  color: #FCA311;
}

#page2 {
  background-color: #243036;
}
#page2 h1 {
  margin: 0 20px;
  height: auto;
}
#page2 #resultados {
  inset: 0;
  margin: auto;
  width: 80%;
  height: auto;
  border: solid 1px #243036;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 25px;
  box-shadow: 0 0 35px rgba(70, 73, 73, 0.5411764706);
}
#page2 #resultados img {
  height: 40%;
}
#page2 #resultados #imcInformacion {
  margin-bottom: 50px;
  width: 80%;
  height: 10%;
  padding-top: 20px;
  text-align: center;
}
#page2 #resultados #imcResultado {
  height: 40%;
}
#page2 #resultados #imcResultado #imc {
  height: 300px;
  width: 300px;
  border: solid 20px;
  border-radius: 100%;
  text-align: center;
  padding: 10px;
}
#page2 #resultados #imcResultado #imc h4 {
  line-height: 100px;
  font-size: 30px;
}
#page2 #resultados #imcResultado #imc p {
  line-height: 80px;
  font-size: 60px;
}
#page2 .continuar {
  margin: 30px 0;
  height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#page2 .continuar h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
#page2 .continuar button {
  width: 10%;
  height: 50px;
}

#page3 section {
  width: 80%;
  height: 300px;
  margin: auto;
  border: solid black 1px;
}
#page3 section div {
  width: 100%;
  margin: 30px;
  text-align: center;
}
#page3 section div label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
#page3 section div input,
#page3 section div select {
  height: 30px;
  width: 50%;
  border-radius: 10px;
}
#page3 section div button {
  margin-top: 30px;
  width: 20%;
  height: 60px;
  border-radius: 10px;
}

#pages4 {
  background-image: linear-gradient(to left top, #243036, #34444a, #45595e, #566e73, #698588);
}
#pages4 h1 {
  height: 100%;
  width: 80%;
  margin: auto;
  font-size: 4.375rem;
}
#pages4 #calorias {
  margin: auto;
  width: 90%;
  display: grid;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  box-shadow: 0 0 35px rgba(129, 129, 129, 0.5411764706);
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "informacion-escrita informacion-grafica" "distribucion  distribucion";
}
#pages4 #calorias #calorias-informacion {
  grid-area: informacion-escrita;
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#pages4 #calorias #calorias-informacion #calorias-informacion-texto {
  display: block;
  width: 80%;
  font-size: 24px;
  text-align: center;
  color: #243036;
}
#pages4 #calorias #calorias-informacion #calorias-informacion-texto span {
  font-weight: bolder;
  color: #d9dbdb;
  text-shadow: #243036 0 2px 2px;
}
#pages4 #calorias #calorias-informacion .calorias-diarias {
  width: 250px;
  height: 250px;
  margin: 50px 20px;
  border-radius: 100%;
  border: solid 5px #243036;
  background-color: #d9dbdb;
  text-align: center;
  padding: 10px;
  line-height: 90px;
  font-size: 26px;
}
#pages4 #calorias #calorias-informacion .calorias-diarias h4 {
  color: #243036;
  padding-top: 20px;
  font-size: 1.875rem;
  height: 5.625rem;
}
#pages4 #calorias #calorias-informacion .calorias-diarias p {
  font-size: 70px;
  color: #FCA311;
  text-shadow: 0 5px 5px #243036;
  font-weight: 500;
}
#pages4 #calorias #grafico-informacion {
  grid-area: informacion-grafica;
  border: 1px solid black;
  width: 100%;
  height: 500px;
}
#pages4 #calorias #distribucion {
  width: 100%;
  grid-area: distribucion;
  padding: 20px;
  margin: auto;
}
#pages4 #calorias #distribucion h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-shadow: 0 2px 2px #243036;
}
#pages4 #calorias #distribucion div {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#pages4 #macros {
  height: 100%;
  padding: 20px;
  width: 90%;
  margin: auto;
  margin-top: 250px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  box-shadow: 0 0 35px rgba(129, 129, 129, 0.5411764706);
}
#pages4 #macros .ml1 {
  font-weight: 900;
  font-size: 3.5em;
  color: #d9dbdb;
  text-shadow: 0 2px 2px #243036;
}
#pages4 #macros .ml1 .letter {
  display: inline-block;
  line-height: 1em;
}
#pages4 #macros .ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
#pages4 #macros .ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}
#pages4 #macros .ml1 .line1 {
  top: 0;
}
#pages4 #macros .ml1 .line2 {
  bottom: 0;
}
#pages4 #macros h2 {
  width: 100%;
  margin: 10px;
  font-size: 2rem;
  text-align: center;
}
#pages4 #macros #distribucion {
  margin: auto;
  width: 80%;
  height: 400px;
  border: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  box-shadow: 1.25rem 1.25rem 2.5rem rgba(73, 73, 73, 0.5764705882);
}
#pages4 #macros #distribucion .barra-circular {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  border: solid 1px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #194757;
}
#pages4 #macros #distribucion .barra-circular::before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #d9dbdb;
  border-radius: 50%;
}
#pages4 #macros #distribucion .valor {
  width: 100%;
  position: relative;
  font-size: 3.125rem;
  text-align: center;
  color: #FCA311;
}
#pages4 #macros #distribucion h3 {
  width: 100%;
  display: block;
  z-index: 10;
  text-align: center;
  margin-bottom: 10px;
}
#pages4 #macros #info-dietas {
  margin: auto;
  width: 80%;
  height: 200px;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

#catalogo {
  justify-self: center;
}
#catalogo .btn {
  height: 50px;
  width: 50px;
  margin: 10px;
}
#catalogo .btn i {
  font-size: 36px;
  color: #243036;
  transition: 0.2s ease;
  text-align: center;
  text-shadow: 0 2px 3px #698588;
}
#catalogo .btn i:hover {
  color: #FCA311;
  scale: 1.1;
  text-shadow: 0 0 10px #243036;
}

main {
  background-color: #fff;
}

section {
  background-color: #fff;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin: 30px 100px;
}
section .card {
  width: auto;
  height: 25rem;
}
section .card .info-card {
  padding: 10px;
  width: 20vw;
  height: 90%;
  border: solid 1px;
  border-radius: 20px;
  background-color: #d9dbdb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section .card .info-card img {
  width: 90%;
}
section .card .info-card h3 {
  width: 100%;
  font-size: 1.75rem;
  text-align: center;
}
section .card .info-card h4 {
  font-size: 16px;
}
section .card .info-card p {
  display: inline-block;
  height: 30px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}
section .card .info-card p span {
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
